<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Login Page</title>
</head>

<body>
    <header>Login</header>
    <main>
        <div style="margin-bottom: 1rem;">
            <a href="index.html" class="back-btn">&larr; Back to Home</a>
        </div>
        <h2>Student Login</h2>
        <form id="loginForm" onsubmit="return handleLogin(event)">
            <label>Email</label><br>
            <input type="email" id="loginEmail" placeholder="Enter your Email" required><br>
            <label>Password</label><br>
            <input type="password" id="loginPassword" placeholder="Enter Your Password" required> <br>
            <input type="submit" value="Login" class="btn">
            <p style="margin-top: 1rem;">Don't have an account? <a href="register.html">Register here</a></p>
        </form>
    </main>
    <footer>

        <hr>

        <p>&copy; 2026 NRIIT Learning Management System</p>

        <p>Email: info@nriit.edu</p>

        <p>Phone: +91 9876543210</p>

        <p>Follow Us:</p>

        <a href="#">Facebook</a> |

        <a href="#">Instagram</a> |

        <a href="#">LinkedIn</a>

    </footer>
    <script src="../js/script.js"></script>
</body>

</html>

